<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>not</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<strong>
<p class="text-center m-auto p-auto">
    vous n'avez pas de compte ou votre identifiant n'est pas correcte. <br/>Veillez cliquer <a href="{% url 'member' %}">ici</a>
    pour créer un compte !
</p>
    </strong>
</body>
</html>