{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Shop
{% endblock %}


{% block content %}
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
             style="background-image: url('../../static/img/A.jpg')">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <h1 class="mb-3">ÉPICERIE ÉTUDIANTE <br>
                            & SOLIDAIRE</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section bg-light">
        <div class="container">
            {% for key, category in categories.items %}

                <div class="row justify-content-center mb-5 ">
                    <div class="col-md-7 text-center">
                        <h3 class="text-center">{{ key }}</h3>

                    </div>
                </div>

                <div class="row hair-style mb-3">
                    {% for product  in category.product %}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <a href="#" class="place">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                <h2>{{ product.name }}</h2>
                                <span>{{ product.quantity }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


        <div class="d-flex justify-content-end p-5" >
            <a class="btn btn-info mr-5" href="{% url 'cart_detail' %}">Composer mon panier</a>
        </div>
    </div>

{% endblock %}


