{% extends 'base/base.html' %}

{% block content %}
<h1 class="text-center">Product List</h1>
<div class="container">

<body>


<br><br><br><br><br><br><br><br><br><br><br>
<div class="container d-flex`justify-content-center">
    <h1>Navigation</h1>
    <div class="row">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="deroulanta" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Lien</a>
            <div class="dropdown-menu" aria-labelledby="deroulanta">
                <a class="dropdown-item" href="#">Lien</a>
                <button class="dropdown-item" type="button">Bouton</button>
                <span class="dropdown-item-text">Texte</span>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="deroulantb" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Bouton
            </button>
            <div class="dropdown-menu" aria-labelledby="deroulantb">
                <a class="dropdown-item" href="#">Lien</a>
                <button class="dropdown-item" type="button">Bouton</button>
                <span class="dropdown-item-text">Texte</span>
            </div>
        </div>
    </div>
</div>
</body>

</div>
{% endblock content %}